body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, hr {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
}
.hide{
    display:none;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.sel-pane li {
    position: relative;
}
.search_line li {
    margin: 5px 10px;
}
.sel-pane .asy-secondary-pane {
    position: absolute;
    width: 300px;
    z-index: 10;
    background: white;
    border: 1px solid #eee;
    border-color: #f3ebaf;
    top: 30px;
    box-shadow: 0px 1px 1px 1px #eee;
}

.asy-secondary-pane .arrow-outer {
    position: relative;
}

.asy-secondary-pane .top-arrow {
    position: absolute;
    border: 10px solid;
    left: 10px;
    border-bottom-color: #f5e995;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    top: -19px;
}

.asy-secondary-pane .bottom-arrow {
    border: 9px solid;
    border-bottom-color: white;
    position: absolute;
    left: 11px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    top: -17px;
}

.sel-pane {
    /* display: block; */
}
.searchpanel {
    margin-bottom: 10px;
    font-size: 14px;
    padding: 5px 20px;
}
.sel-groups {
    border: 1px solid #eeeeee;
    padding: 0px 5px;
    margin-top: 5px;
}
.sel-groups .sel-line {
    border-bottom: 1px #eee;
    border-bottom-style: dashed;
    padding: 5px;
}
.sel-line .sel-label {
    float: left;
    padding-top: 5px;
}

.search_line.long {
    margin-left: 130px;
}
.mk-clearfix {
    zoom: 1;
}



.mk-clearfix .left {
    float: left;
}

.mk-clearfix .right {
    float: right;
}

.mk-clearfix:after {
    clear: both;
    content: " ";
    height: 0;
    overflow: hidden;
    display: block;
}

.search_line {
    margin-left: 112px;
    position: relative;
}
.mkbtn-select {
    text-decoration: none;
    position: relative;
    cursor: pointer;
    padding: 2px 6px 3px 6px;
}
.mkbtn-select { /**选择项框*/
    text-decoration: none;
    position: relative;
    cursor: pointer;
    padding: 2px 6px 3px 6px;
}

.mkbtn-select.active {
    background: #55bdf8;
    color: #fff;
    /* border: 1px solid #f5f2bf; */
    border-radius: 5px;
}

.mkbtn-select.active:hover {
    color: #fff;
}

.mkbtn-select:hover {
    color: #03a9f4;
    cursor: pointer;
}
a:active, a:hover {
    outline: 0;
}